<div ng-controller="HomeController">

    <section class="container-fluid">
        <div class="ads col-lg-offset-4">
            <div class=" ad-container" ng-repeat="ad in ads.ads">
                <div class="row">
                    <div class="col-lg-6">
                        <h4 ng-style={"fontWeight":"bold"}>{{ ad.title }}</h4>
                    </div>
                    <div class="col-lg-6">
                        <time class="pull-right" ng-style={"fontWeight":"bold"}>{{ ad.date | date:'d-MMM-yyyy' }}</time>
                    </div>

                    <div class="image-container">
                        <img ng-src="{{ ad.imageDataUrl }}" class="img"/>
                        <img ng-if="!ad.imageDataUrl" ng-src="images/no-image.png" class="img"/>
                    </div>

                    <div class="well well-md ad-text ">{{ ad.text }}</div>
                    <span>Name</span>

                    <div class="well well-sm ownerInfo">{{ ad.ownerName }}</div>
                    <span>Email</span>

                    <div class="well well-sm ownerInfo"><a href="mailto:{{ad.ownerEmail}}">{{ad.ownerEmail}}</a></div>
                    <span>Tel</span>

                    <div class="well well-sm ownerInfo">{{ ad.ownerPhone }}</div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <pagination total-items="totalItems" items-per-page="adsPerPage" ng-click="changePage()"
                        ng-model="currentPage"
                        max-size="maxSize" class="pagination" boundary-links="true" ng-show="!showPager" ng-hide="showPager"></pagination>
            <label ng-show="showPager" ng-hide="!showPager">No items match your search criteria. Please refine.</label>
        </div>

    </section>

    <aside class="container-fluid">
        <div class="filters col-lg-3">

            <div class="category-filter">
                <header class="form-header">Categories</header>
                <hr/>
                <div class="categories">
                    <div>
                        <a href="" ng-click="filterAdsByCategory(0)">All</a>
                    </div>
                    <div ng-repeat="category in categories">
                        <a href="" ng-click="filterAdsByTown(category.id)">{{ category.name
                            }}</a>
                    </div>
                </div>
            </div>


            <div class="town-filter">
                <header class="form-header">Towns</header>
                <hr/>
                <div class="towns">
                    <div>
                        <a href="" ng-click="filterAdsByTown(0)">All</a>
                    </div>
                    <div ng-repeat="town in towns">
                        <a href="" ng-click="filterAdsByTown(town.id)">{{ town.name }}</a>
                    </div>
                </div>
            </div>

        </div>
    </aside>
</div>